@font-face {
   font-family: 'IBMPlexSansThaiLooped';
   src: url("../assets/fonts/IBMPlexSansThaiLooped-Bold.ttf") format('truetype');
}
@font-face {
   font-family: 'IBMPlexSansThaiLooped';
   src: url("../assets/fonts/IBMPlexSansThaiLooped-Medium.ttf") format('truetype');
}
@font-face {
   font-family: 'IBMPlexSansThaiLooped';
   src: url("../assets/fonts/IBMPlexSansThaiLooped-Regular.ttf") format('truetype');
}